/* Blooming Pop up Fill form window */
@import url("https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap");

@import url("components/container.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/logo.css");


body {
  font-family: 'Sarala', sans-serif;
  font-size: 15px;
  margin: 0px;
  padding: 0px;
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 50%), url(../images/background.jpg);
  height: 140vh;
  width: 100%;
}

a{
  text-decoration: none;
}

/* Form title */
h3 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

/* Containers of the form */
.container{
  position: absolute;
  top: 75%;
  left:50%;
  transform: translate(-50%, -50%);
  background:#86B486;
  padding: 60px;
  height: auto;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4);
}

/* Title of the form */
.container .text{
  font-size: 35px;
  font-weight: 600px;
  text-align: center;
}

/* Data input in the containers*/
.container form .data{
  height:40px;
  width:100%;
  margin: 40px 0;
}

form .data label{
  font-size: 18px;
}

/* Data input */
form .data input{
  height:100%;
  width: 100%;
  padding-left: 10px;
  font-size: 15px;
  color: #619661;
  text-transform: uppercase;
}

/* Continue button box */
form .btn{
  margin:auto;
  height: 40px;
  width:120px;
  padding: 10px;
  position: relative;
}

/* Continue button text */
form .btn button{
  background: #D6894B;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Sarala', sans-serif;
  letter-spacing:0.5px;
}

form p{
  text-align: right;
}

.fa-times{
  position: absolute;
  right:20px;
  top: 20px;
  font-size: 30px;
  cursor: pointer;
}


