/* Blooming main css */
@import url("https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/logo.css");
@import url("components/card.css");
@import url("components/form.css");
@import url("components/box.css");
@import url("components/cardd.css");
@import url("components/wall.css");


body {
  font-family: 'Sarala', sans-serif;
  font-size: 15px;
  margin: 0px;
  padding: 0px;
  height: 140vh;
  width: 100%;
}

h1, h2 {
  text-align: center;
  margin-bottom: 10px
}

a{
	text-decoration: none;
}

/* Home Page - Services title */
h3{
  color:#D6894B;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
}
/* Your Cart - tittle */
h4{
  font-family: Sarala;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 78px;
margin: 60px
}

/* Fill the form - Extensive bouquet title */
h5 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

/* Your cart - Name bouquet */
h6{
  font-family: Sarala;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 39px;
}

p{font-family: Sarala;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 33px;
text-align: center;}
