/* Blooming main css */
@import url("https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/logo.css");
@import url("components/card.css");
@import url("components/form.css");
@import url("components/box.css");
@import url("components/text.css");
@import url("components/wall.css");


body {
  font-family: 'Sarala', sans-serif;
  font-size: 15px;
  margin: 0px;
  padding: 0px;
  height: 140vh;
  width: 100%;
}


/* H1 - MAIN HEADER */
h1 {
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 48px;
  line-height: 78px
}



/* H2 - TITLE */
h2 {
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 36px;
  line-height: 59px;
}


/* H3 - SUBTITLE */
h3 {
text-align: center;
font-size: 24px;
line-height: 39px;
}


/* p - paragraph */

p{
font-style: normal;
font-weight: lighter;
font-size: 18px;
margin: 0px;
}


/* a - LINK */

a{
text-decoration: none;
font-weight: bold;
font-size: 18px;
line-height: 29px;
display: flex;
align-items: center;
text-align: center;
color: black;
}

