/* Blooming main css */
@import url("https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/logo.css");
@import url("components/card.css");
@import url("components/form.css");
@import url("components/box.css");


body {
  font-family: 'Sarala', sans-serif;
  font-size: 15px;
  margin: 0px;
  padding: 0px;
  height: 140vh;
  width: 100%;
}

h1, h2 {
  text-align: center;
  margin-bottom: 10px
}

a{
	text-decoration: none;
}

/* Home Page - Services title */
h3{
  color:#D6894B;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
}

/* Fill the form - Extensive bouquet title */
h5 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
