/* Home Page - Sphere services */
.avatar{
  width: 261px;
  height: 261px;
  border-radius: 50%;
  padding-bottom: 10px;
}

/* Express and Extensive Page - Square services */
.avatarbouquet{
  width: 261px;
  height: 261px;
  padding-bottom: 10px;
}
