/* Home Page - Sphere our services */
.avatar{
  width: 261px;
  height: 261px;
  border-radius: 50%;
  padding: 10px;
}

/* Square extensive services */
.avatarbouquet{
  width: 331px;
  height: 337px;
  padding: 10px;
}




