/* Fill the form - Box */
.box{
  position: absolute;
  top: 75%;
  left:50%;
  transform: translate(-50%, -50%);
  background:#86B486;
  padding: 60px;
  height: auto;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4);
}

/* Title of the form */
.box h1{
  font-size: 35px;
  font-weight: 600px;
  text-align: center;
  text-transform: uppercase;
}

/* Data input in the containers*/
.box form .data{
  height:40px;
  width:100%;
  margin: 40px 0;
}

.fa, .fas {
  right: 30px;
  top: 25px;
  position: absolute;
}

#click: checked~ .box{
  display: block;
}

/* Extensive page - Create your own box */
.box-create-your-own{
  position: absolute;
  top: 75%;
  left:50%;
  transform: translate(-50%, -50%);
  background: url(../../images/background.jpg);
  background-size: cover;
  background-position: bottom;
  border-radius: 6px;
}


/* Express page - Personnalisation */
.box-personnalisation{
  position: absolute;
  top: 75%;
  left:50%;
  transform: translate(-50%, -50%);
  background: url(../../images/background.jpg);
  background-size: cover;
  background-position: bottom;
  border-radius: 6px;
}

/* Your-Cart - Button Checkout */
.box-button-cartpage {
    position: absolute;
    right: 0.5%;
    background: url(../../images/tulip.jpg);
    background-size: cover;
    border-radius: 4px;
    margin-top: 985px;
    top: 40%;
    transform: translate(-35%, -50%);
}
