/* Home Button */
.btn-home{
  background-color: #86B486;
  padding: 15px 20px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-home:hover{
  color:black;
}

/* Home Page - Your cart Button */
.btn-yellow{
  background-color: #D6894B;
  padding: 15px 20px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.btn-yellow:hover{
  background-color:#86B486;
  color:black;
}


/* White background Yellow text Button */
.btn-services{
  color:#D6894B;
  text-transform: uppercase;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.btn-services:hover{
  background-color:#D6894B;
  color:white;
  border-radius: 4px;

}

/* About us button*/

.btn-about-us{
  position: absolute;
  top: 119%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color: #D6894B;
  padding: 10px 20px;
  border-radius: 4px;
  color: black;
  text-transform: uppercase;
  cursor: pointer
}

.btn-about-us:hover{
color:white;
}

/* Fill the form - Continue button*/
.btn-black{
  position: absolute;
  top: 95%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color: #D6894B;
  display: block;
  padding: 10px 20px;
  border-radius: 4px;
  text-align: center;
  color: black;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.btn-black:hover{
  background-color:#86B486;
  color:white;
}


/* Clickable BACK button */

.btn-back{
  background-color:white;
  color:black;
  font-size: 18px;
  margin-left: 23px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 18px;

}

/* Extensive page - Create your own button */

.btn-create-your-own{
  display: block;
  width: 475px;
  height: 126px;
  font-size: 36px;
  color:black;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  line-height: 120px;
  font-weight: bold;
}

.btn-create-your-own:hover{
  color:white;
  background-color:#D6894B;
  border-radius: 6px;
}

/* Express page - Create your own button */

.btn-personnalisation{
  display: block;
  width: 527px;
  height: 126px;
  font-size: 36px;
  color: black;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  line-height: 120px;
  font-weight: bold;
}

.btn-personnalisation:hover{
  color: white;
  background-color: #D6894B
  border-radius:6px;
  cursor: pointer;
}

/* Button Cartpage */

.btn-cartpage {
  display: block;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;

}



