/* Home Page - Home Button */
.btn-home{
  background-color: #86B486;
  padding: 15px 20px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  font-family: 'Sarala', sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

/* Home Page - Your cart Button */
.btn-yellow{
	background-color: #D6894B;
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Sarala', sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-yellow:hover{
  background-color:#86B486;
  color:black;
}

/* Home Page - Services buttons */
.btn-express, .btn-extensive{
  color:#D6894B;
  text-transform: uppercase;
  padding-left: 55px;
  cursor: pointer;
}


/* Clickable BACK button */

.btn-back{
  background-color:white;
  color:black;
  font-size: 18px;
  margin-left: 197px;
  margin-top: 31px;
  text-align: left;
  font-size: 18px;
}
