/* Home Page - Home Button */
.btn-home{
  background-color: #86B486;
  padding: 15px 20px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

/* Home Page - Your cart Button */
.btn-yellow{
	background-color: #D6894B;
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-yellow:hover{
  background-color:#86B486;
  color:black;
}

/* Home Page - Services buttons */
.btn-express, .btn-extensive{
  color:#D6894B;
  text-transform: uppercase;
  padding-left: 55px;
  cursor: pointer;
}

/* Clickable BACK button */

.btn-back{
  background-color:white;
  color:black;
  font-size: 18px;
  margin-left: 197px;
  margin-top: 31px;
  text-align: left;
  font-size: 18px;
}

/* Extensive page - Create your own button */

.btn-create-your-own{
  display: block;
  width: 527px;
  height: 126px;
  font-size: 36px;
  color:black;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  line-height: 120px;
  font-weight: bold;
}

.btn-create-your-own:hover{
  color:white;
  background-color:#D6894B;
  border-radius: 6px;
}

/* Express page - Create your own button */

.btn-personnalisation{
display: block;
width: 527px;
height: 126px;
font-size: 36px;
color: black;
text-transform: uppercase; 
text-align: center;
cursor: pointer;
line-height: 120px;
font-weight: bold;
}

.btn-personnalisation:hover{
color: white;
background-color: #D6894B
border-radius:6px;
cursor: pointer;
}


