.cardd{
	display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
    border-radius: 6px;
        width: 900px;
        margin: 80px;
    	margin-top: 0px 5px;
        background: white;}

.cardd img {
	width: 125px;
    margin: 20px;
    height: 110px;}

.cardd p {
	margin-right: 110px;
}