/* Express Services - Or pick one of the options below: */

#pick-options{
  font-size: 24px;
  font-weight: lighter;
  text-align: center;
  margin-top: 155px;
}

/* Extensive Services - "They did it before you" */

#theydidit{
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin-top: 145px;
  text-transform: uppercase;
}

/* Extensive Services - "Information" */

#information{
  font-weight: lighter;
  text-align: center;
  width:900px;
  position: absolute;
  left: 300px;
  right: 300px;
}


/* Extensive Service - Create your flower compositions with our designers */

#description-composition{
line-height: 39px;
margin-top: 100px;
padding-top: 34px;
}

#description-composition-top{
line-height: 39px;
margin-top: -100px;
padding-top: 34px;
}


/* Extensive Services - "Title" */

#title h3 {
color: #D6894B;
text-transform: uppercase;
cursor: pointer;
font-size: 18px;
text-align: left;
line-height: 0px;
}


/*Your Cart page - YOUR CART */
 #title-yourcart h1 {
  text-align: left;
  margin-left: 30px;
}

/* Your Cart page - Back */
#back-yourcart  h5 {
  margin-left: 30px;
}



